<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票成功</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <script type="text/javascript">

        //防止页面后退
        $(function () {
            alert("禁止后退");
            if (window.history && window.history.pushState) {
                $(window).on('popstate', function () {
                    window.history.pushState('forward', null, '#');
                    window.history.forward(1);
                });
            }
            window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
            window.history.forward(1);
        });
    </script>
</head>


<body>
<div class="row">
    <div class="col-md-2 col-md-offset-5" style="margin-top: 10%;">
        <h1>谢谢投票！</h1>
    </div>
</div>
</body>
</html>